<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><i class="fa fa-phone contact-icon"></i> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><i class="fa fa-instagram contact-icon"></i>
      <a href="{{ site.data.contact.email.url }}">
        {{ site.data.contact.email.display }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.line %}
    <div class="call-line"><i class="fa fa-comment contact-icon"></i>
      <a href="{{ site.data.contact.line.url }}">
        {{ site.data.contact.line.display }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">BOOK APPOINTMENT</a>
      </div>
    {% endif %}
</div>
