.page-home {
  .service-title {
    margin-top: 0.6em;
  }
}

#intro_vid {
  margin-top: -25.5%; margin-bottom: -50.5%
}

.beforeafter-image img {
  display: block;
  margin: 0 auto;
}

.home-call-button .button {
  font-size: 2em;
  line-height: 0.15em;
  padding: 1em;
}